header {
    padding:2em;
    background-color: rgb(175, 214, 230)
}
h1 {
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin: 0;
    text-shadow: 1px 1px 2px black,0 0 1em blue, 0 0 0.2em blue;
}
main{
    padding: 2em 2em 2em 5em;
}
h2 {
    margin: 1em -2em 1em;
}
h3, h4 {
    margin: 1em  0em 0em -1em;
}
p {
    margin: 0;
}
h2, h3, h4 {
    border-bottom: 2mm ridge rgba(13, 28, 226, 0.6)
}

a:link {
    color: orangered
}
a:visited {
    color: green
}
a:hover {
    color: yellowgreen
}

div.zentai{
    display: flex;
    flex-direction: row;
}
div.main{
    flex: 5;
    
    
    margin:0 1em;
}
div.sub {
    flex: 1;

    padding: 2em 2em 2em 2em;
    margin-left:1px;
    background-color: #eeeeee;
    margin:1em;
}
.special {
    border-bottom: 2mm ridge rgba(226, 13, 77, 0.4)
    
}
strong {
    color: rgba(255, 0, 0, 0.621);
}
