div.zentai {
    display: flex;
    flex-direction: row;
    width: 500px;
    border: 1px solid gray;
    padding: 5px 5px 5px 0;
}

div.main {
    flex: 3;

    background-color: brown;
    margin-left: 5px;
}

div.sub {
    flex: 1;

    background-color: blue;
    margin-left: 5px;
}
h1 {
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin: 0;
    text-shadow: 1px 1px 2px black,0 0 1em blue, 0 0 0.2em blue;
}
