div.zentai {
    display: flex;
    flex-direction: row;
    
}
div.main {
    flex: 3;

    background-color: rgb(235, 172, 172);
    margin-left: 5px;
}

div.sub {
    flex: 1;

    background-color: #eeeeee;
    margin-left: 5px;
}
h1 {
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin: 0;
    text-shadow: 1px 1px 2px black,0 0 1em blue, 0 0 0.2em blue;
}
table, td {
    border:solid black;
}
th {
    text-align: center;
}

div.boxzentai {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1rf 1rf;
    grid-gap: 10px;

}